.idea
Package Control.cache
Package Control.last-run
Package Control.user-ca-bundle
Package Control.merged-ca-bundle

sftp_servers

bh_unicode_properties.cache

Xdebug.breakpoints
Xdebug.log

Color Highlighter/themes
SublimeLinter